<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.9.0/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css" />
    <title>Document</title>
</head>
<body>    
<div class="flex min-h-screen bg-slate-100">
    <div class="basis-3/12 bg-slate-300 min-h-screen p-6">
       <div class="flex flex-col mb-5 gap-3">
        <h2 class="font-medium capitalize">Welcome <%= fullname %></h2>
        <p><%= email %></p>   
    </div>
    <div class="flex flex-col gap-3">
        <a href="/dashboard" class="w-full px-4 py-3 bg-slate-600 text-white rounded">Products</a>
        <a href="/create-product" class="w-full px-4 py-3 bg-slate-600 text-white rounded">Create Products</a>
        <a href="/logout" class="w-full px-4 py-3 bg-slate-900 text-white rounded">Logout</a>
    </div>
    </div>
    <div class="basis-9/12 h-full p-6">
         <div class="w-full max-h-[600px] overflow-y-auto">
            <table class="w-full text-left">
                <thead>
                    <tr>
                        <th class="p-2 border border-slate-300">Product Name</th>
                        <th class="p-2 border border-slate-300">Description</th>
                        <th class="p-2 border border-slate-300">Price</th>
                        <th class="p-2 border border-slate-300">Created Date</th>
                        <th class="p-2 border border-slate-300">Action</th>
                    </tr>
                </thead>
                <tbody id="product-list">
                </tbody>
            </table>
         </div> 
    </div>
</div> 
<script>
  window.onload = () => {
    getProduct()
  }  
  const productList = document.querySelector("#product-list")
  productList.innerHTML = ""     
   const getProduct = async () => {
    try {
        await axios.get("http://localhost:4000/api/products")
        .then((res) => {
            const data = res.data
            if(Array.isArray(data) && data.length > 0){
            for (const item of data) {
                const ui = `
                    <tr>
                        <td class="p-2 border border-slate-300">${item.name || "N/A"}</td>
                        <td class="p-2 border border-slate-300">${item.price || "N/A"}</td>
                        <td class="p-2 border border-slate-300">${item.description || "N/A"}</td>
                        <td class="p-2 border border-slate-300">${item.createdAt}</td>
                        <td class="p-2 border border-slate-300">
                            <div class="flex items-center gap-2">
                                <button type="button" class="w-10 h-10 rounded-full text-white bg-yellow-400"><i class="ri-edit-line"></i></button>
                                <button type="button" class="w-10 h-10 rounded-full text-white bg-red-600" onclick="deleteProduct(${item._id})"><i class="ri-delete-bin-line"></i></button>
                            </div>
                        </td>
                    </tr>
                `
            productList.innerHTML += ui
            }
        }else{
            productList.innerHTML = "<tr><td class='p-2 border border-slate-300' colspan='5'>No product found</td></tr>"
        }   
        })
        .catch((err) => {
            console.log(err.response)
            productList.innerHTML = err.response?.data?.message
        })

    } catch (error) {
        console.log(error.message)
    }
   }
</script>   
</body>
</html>